@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This is a project to manage employee and project. Its written using C#, ASP.NET CORE MVC, Entity Framework and AngularJS</p>
</div>
